# group_vars/all.yml
# Variables visible to all nodes
---
rhbase_firewall_allow_services:
  - http
  - https
  - samba
  - ftp
rhbase_firewall_allow_ports:
  - 53/tcp
  - 53/udp
  - 20/tcp
  - 21/tcp
rhbase_repositories:
  - epel-release
rhbase_install_packages:
  - bash-completion
  - bind-utils
  - git
  - nano
  - tree
  - vim-enhanced
  - wget
rhbase_user_groups:
  - management
  - technical
  - it
  - sales
  - public
rhbase_users:
  - name: jens
    password: $1$uEjsHN/L$vswuJdfZItOHvY4iFRSMI/
    groups:
    - users
    - wheel
    - it
    - public
  - name: stevenh
    password: $1$U31Jhg.Q$s.T96ZX.o675fk6ZjpHqm.
    groups: 
    - users
    - management
    - public
    shell: /sbin/nologin
  - name: stevenv
    password: $1$.1NyIagU$ivY9wB2QNx.I2XTIudCVH1
    groups:
    - users
    - technical
    - public
    shell: /sbin/nologin
  - name: leend
    password: $1$rEEN6./G$K3oTf.2Aqz1Tvga9sGlO2.
    groups:
    - users
    - technical
    - public
    shell: /sbin/nologin
  - name: svena
    password: $1$fcvfnIjP$5lO9d74nNykpkeOkYyDQG0
    groups:
    - users
    - sales
    - public
    shell: /sbin/nologin
  - name: nehirb
    password: $1$D7PG4jet$bqVAKnYZepjx48VIJ1e3r.
    groups:
    - users
    - it
    - public
  - name: alexanderd
    password: $1$gd7WBLzP$jtK838q4VzH927WmLvjrg1
    groups:
    - users
    - technical
    - public
    shell: /sbin/nologin
  - name: krisv
    password: $1$c0nRmFIg$/Z4Y6KkxFlNvcHsXepNHt0
    groups:
    - users
    - management
    - public
    shell: /sbin/nologin
  - name: benoitp
    password: $1$Ip271atj$OSTnBI6dVzYp45P75cVve.
    groups:
    - users
    - sales
    - public
    shell: /sbin/nologin
  - name: anc
    password: $1$wYMUAqQy$UKrCCIPJAsvC.VMhKmPvg0
    groups:
    - users
    - technical
    - public
    shell: /sbin/nologin
  - name: elenaa
    password: $1$mGXWAS4F$YzlCz8iFDnkDNZzLJZDkS.
    groups:
    - users
    - management
    - public
    shell: /sbin/nologin
  - name: evyt
    password: $1$07bnviF5$8NHHBm3fBjCbctsU40NjE/
    groups:
    - users
    - technical
    - public
    shell: /sbin/nologin
  - name: christophev
    password: $1$fS0X1/pW$2NEFEsIhOiCiz0rBsFueP1
    groups:
    - users
    - it
    - public
  - name: stefaanv
    password: $1$UfbKKEVn$7xthAIYSnlQ8UKh6ABf/C/
    groups:
    - users
    - technical
    - public
    shell: /sbin/nologin
rhbase_ssh_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDniuyEWUV6sV2RmWi8u0SglWu+KBs4vJXMklS+RkUT1PqR7c9Nh7Qvt8PKnFgHq45WACu2DTBXnVvQ+vFodoHPYvo9slHbCec+PCE8YLgRwiWUCmelgWga2Ny23mdV6BYxedCZ+9f3j6jIDGpEos0W5EiIqP9XfJsgQrDe3b08JZJo7D9ll+WAGLfakpL29EC37wP7xX+Hafo3Xhjq4ch6h0tDNvA7CSiXgzRYhReaaQH4Od3SJhFH5XRKYiGZQNYJ8yg8ZluzDTjDyx9GaSjzxqQ8ZokIc8juKkhC4nzc6cXxGUC6Cfc93dNq1MdmLcOGnMfsUdF9e/YxGga/xSGYc3BVHEV3g82kxLK9woFzPnl5dfk01XrhjqJttwmb7Yg2OZhT4z1LCigWPtWSc2EajU8S3FE7iKkza8/PzSRqPGYsxMzdkwW53j7LYPnZxLCMQYvx8SfdVZh28oqEOxZnf+Azz8e6ZVkKPDnN8rTmyPxtxYeRAFXwHT9m28CK1TUiCm/wDj++CiaeC1AkKdL7guIm2IFWtKNlvKVqX9HZ8vVVRi82Cdx4TNHiFDdIrHW/6l5Y6VcSiWf+noCfMnG9xcZ7EbeeED7P+uHpOgpIPUa+x624WeFzwsLj5su+NATjUpa2YePGpe+PbSVS4A0EexFCoBVvmfPxhGWqFqTZxw== jens.vanliefferinge.y4556@student.hogent.be
rhbase_ssh_user: jens
fail2ban_modules: 
  - ssh
fail2ban_config_maxretry: 5
fail2ban_firewalld: true
fail2ban_jails:
  - name: sshd
    enabled: true
    bantime: 600
    maxretry: 5
