---
samba_workgroup: AVALON
samba_shares_root: /srv/shares
samba_netbios_name: FILES
samba_load_printers: false
samba_users:
  - name: stevenh
    password: stevenh
  - name: stevenv
    password: stevenv
  - name: leend
    password: leend
  - name: svena
    password: svena
  - name: nehirb
    password: nehirb
  - name: alexanderd
    password: alexanderd
  - name: krisv
    password: krisv
  - name: benoitp
    password: benoitp
  - name: anc
    password: anc
  - name: elenaa
    password: elenaa
  - name: evyt
    password: evyt
  - name: christophev
    password: christophev
  - name: stefaanv
    password: stefaanv
  - name: jens
    password: jens
  
samba_shares:
  - name: management
    group: management
    #valid_users: +management
    write_list: +management
    browsable: yes
    directory_mode: 0770
  - name: technical
    group: technical
    valid_users: +technical,+management,+it,+sales
    write_list: +technical
    browsable: yes
    #directory_mode: 0775
  - name: sales
    group: sales
    valid_users: +sales,+management
    write_list: +sales
    browsable: yes
    #directory_mode: 0775
  - name: it
    group: it
    valid_users: +it,+management
    write_list: +it
    browsable: yes
    #directory_mode: 0775
  - name: public
    group: public
    valid_users: +public,+management,+it,+sales,+technical
    write_list: +public,+management,+it,+sales,+technical
    #directory_mode: 0777

vsftpd_anonymous_enable: false
vsftpd_local_enable: true
vsftpd_write_enable: true
vsftpd_local_umask: 002

vsftpd_extra_permissions:
  - folder: "/srv/shares/management"
    entity: "management"
    etype: "group"
    permissions: "rwx"
  - folder: "/srv/shares/sales"
    entity: "sales"
    etype: "group"
    permissions: "rwx"
  - folder: "/srv/shares/it"
    entity: "it"
    etype: "group"
    permissions: "rwx"
  - folder: "/srv/shares/technical"
    entity: "technical"
    etype: "group"
    permissions: "rwx"
  - folder: "/srv/shares/public"
    entity: "public"
    etype: "group"
    permissions: "rwx"
  - folder: "/srv/shares/technical"
    entity: "it"
    etype: "group"
    permissions: "r--"
  - folder: "/srv/shares/technical"
    entity: "management"
    etype: "group"
    permissions: "r--"
  - folder: "/srv/shares/technical"
    entity: "sales"
    etype: "group"
    permissions: "r--"
  - folder: "/srv/shares/it"
    entity: "management"
    etype: "group"
    permissions: "r--"
  - folder: "/srv/shares/sales"
    entity: "management"
    etype: "group"
    permissions: "r--"

# vsftpd_enable_ssl: false
# vsftpd_package: vsftpd
# vsftpd_service_enabled: yes
# vsftpd_service_state: started
# vsftpd_users:
#   - username: jens
#     name: jens
#     password: "{{ 'jens' | password_hash('sha256', 'salt') }}"
#   - username: stevenh
#     name: stevenh
#     password: "{{ 'stevenh' | password_hash('sha256', 'salt') }}"
#   - username: stevenv
#     name: stevenv
#     password: "{{ 'stevenv' | password_hash('sha256', 'salt') }}"
#   - username: leend
#     name: leend
#     password: "{{ 'leend' | password_hash('sha256', 'salt') }}"
#   - username: svena
#     name: svena
#     password: "{{ 'svena' | password_hash('sha256', 'salt') }}"
#   - username: nehirb
#     name: nehirb
#     password: "{{ 'nehirb' | password_hash('sha256', 'salt') }}"
#   - username: alexanderd
#     name: alexanderd
#     password: "{{ 'alexanderd' | password_hash('sha256', 'salt') }}"
#   - username: krisv
#     name: krisv
#     password: "{{ 'krisv' | password_hash('sha256', 'salt') }}"
#   - username: benoitp
#     name: benoitp
#     password: "{{ 'benoitp' | password_hash('sha256', 'salt') }}"
#   - username: anc
#     name: anc
#     password: "{{ 'anc' | password_hash('sha256', 'salt') }}"
#   - username: elenaa
#     name: elenaa
#     password: "{{ 'elenaa' | password_hash('sha256', 'salt') }}"
#   - username: evyt
#     name: evyt
#     password: "{{ 'evyt' | password_hash('sha256', 'salt') }}"
#   - username: christophev
#     name: christophev
#     password: "{{ 'christophev' | password_hash('sha256', 'salt') }}"
#   - username: stefaanv
#     name: stefaanv
#     password: "{{ 'stefaanv' | password_hash('sha256', 'salt') }}"
# vsftpd_config:
#   local_enable: YES
#   write_enable: YES
#   chroot_local_user: YES
#   allow_writeable_chroot: YES
#   local_umask: 022